rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for the 'documents' folder
    match /documents/{document=**} {
      allow read;
      allow write: if false;
    }

    // Allow public read access for the 'fixtures_books' folder
    match /fixtures_books/{document=**} {
      allow read;
      allow write: if false;
    }

    // For all other paths, deny access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
