rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default rule: disallow all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow public read access for specific collections
    match /league_tables/{season} {
      allow read: if true;
    }

    match /fixtures/{fixtureId} {
      allow read: if true;
    }

    match /events/{eventId} {
      allow read: if true;
    }

    match /teams/{teamId} {
      allow read: if true;
    }

    // New rule for the fixtures and results page
    match /match_results/{matchId} {
      allow read: if true;
    }

    // Rules for Hall of Fame
    match /competitions/{competitionId} {
      allow read: if true;
    }
    match /winners/{winnerId} {
      allow read: if true;
    }

    // Rules for Players Register
    match /players_public/{playerId} {
      allow read: if true;
    }

    // Rule for Seasons
    match /seasons/{seasonId} {
        allow read: if true;
    }
  }
}
