/* --- League Tables Page Specific Styles --- */

#filters-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#season-filter {
    min-width: 200px;
}

#division-tabs-container {
    margin-block-end: 1rem;
}

.league-standings-table {
    width: 100%;
}

.league-standings-table th, 
.league-standings-table td {
    text-align: center;
    padding: 0.5rem 0.25rem;
}

.league-standings-table th:nth-child(2),
.league-standings-table td:nth-child(2) {
    text-align: left;
    width: 150px; /* Adjust width as needed for team names */
}