@import url('tables.css');

/* --- League Tables Page Specific Styles --- */

.division-filter-container {
    justify-content: center; /* Center the division filter on mobile */
}

.season-filter-tab {
    padding: 0;
}

.season-filter-tab .form-select {
    border: none;
    padding: 0.6rem 1rem;
}
